<main class='p-5'>
  <h1 class='text-center text-uppercase'>Hello world</h1>
  <h2 class='text-end text-lowercase'>Second</h2>
  <h3 class='text-capitalize'>3 title</h3>

  <hr />

  <div class='display-1'>Hello world</div>
  <div class='display-5'>Second</div>
  <div class='display-6'>3 title</div>

  <hr />

  <div class='text-mut text-end'>
    LOC
    <span class='display-6'>UL</span>
  </div>

  <hr />

  <button class='btn btn-success'><span
      class='text-uppercase'
    >Test button</span>
  </button>

  <hr />
  <a href='#' class='btn btn-primary'>
    Button Top
  </a>
  <hr />
  <p class='text-primary'>My text</p>
  <hr />
  <button class='btn btn-outline-danger bth-lg'>WWE</button>
  <button class='btn btn-outline-success'>WWM</button>
  <button class='btn btn-outline-info btn-sm'>WWF</button>
  <hr />

  <div class='card'>
    <div class='card-body'>
      This is content
    </div>
  </div>
  <br />
  {{! карточки }}
  <div class='row gy-5'>
    <section class='col-12'>
      <div class='card text-bg-dark'>
        <img
          class='card-img-top'
          src='https://picsum.photos/400/200'
          alt='Product photo'
        />
        <div class='card-body'>
          <h5 class='card-title text-bg-primary'>Title</h5>
          <p class='text-bg-warning'>USB hab Type c 12</p>
          <a
            href='/summary'
            class='btn btn-primary'
          >Open</a>
        </div>
      </div>
    </section>

    <br />
    <br />
    <br />

    <div class='card text-bg-primary'>
      <div class='card-header'>
        <div class='display-6'>Menu</div>
      </div>
      <ul class='list-group list-group-flush'>
        <li class='list-group-item text-bg-dark'>
          <a href='#' class='btn btn-link'>Home page</a>
        </li>
        <li class='list-group-item text-bg-danger'>
          <a href='#' class='btn btn-link'>Summary page</a>
        </li>
        <li class='list-group-item text-bg-success'>
          <a href='#' class='btn btn-link'>Skilss page</a>
        </li>
      </ul>

      <div class='card-footer'>
        <button class='btn btn-dark btn-sm'>Update list</button>
      </div>
    </div>

    <br />

    <table
      class='table table-striped table-bordered text-bg-success'
    >
      <thead>
        <tr>
          <th>
            #id
          </th>
          <th>
            name
          </th>
          <th>
            age
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Bobo</td>
          <td>34</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Bobo</td>
          <td>34</td>
        </tr>
      </tbody>
    </table>

    <br />
    <br />

    <div class='card text-bg-success'>
      <div class='card-header text-center'>Header</div>
      <div class='card-body text-center'>
        <h6 class='card-title'>This is title</h6>
        <div>Content of our box</div>
        <button class='btn btn-light'>Click</button>
      </div>
      <div class='card-footer text-center'>Footer</div>
    </div>

    <br />
    <br />
    <br />

    <div class='row gx-5 gy-1'>
      <div class='col-5'>
        <div class='card text-bg-info'>
          <div class='card-header text-center'>Header</div>
          <div class='card-body text-center'>
            <h6 class='card-title'>This is title</h6>
            <div>Content of our box</div>
            <button class='btn btn-light'>Click</button>
          </div>
          <div class='card-footer text-center'>Footer</div>
        </div>
      </div>
      <div class='col-4'>
        <div class='card text-bg-info'>
          <div class='card-header text-center'>Header</div>
          <div class='card-body text-center'>
            <h6 class='card-title'>This is title</h6>
            <div>Content of our box</div>
            <button class='btn btn-light'>Click</button>
          </div>
          <div class='card-footer text-center'>Footer</div>
        </div>
      </div>

      <div class='col-4'>
        <div class='card text-bg-info'>
          <div class='card-header text-center'>Header</div>
          <div class='card-body text-center'>
            <h6 class='card-title'>This is title</h6>
            <div>Content of our box</div>
            <button class='btn btn-light'>Click</button>
          </div>
          <div class='card-footer text-center'>Footer</div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />

  {{! Nav here }}

  <div class='row g-4'>
    <div class='col-12'>
      <div class='nav nav-tabs'>
        <div class='nav-item'>
          <a href='#' class='nav-link active'>%</a>
        </div>
        <div class='nav-item'>
          <a href='#' class='nav-link'>F</a>
        </div>
        <div class='nav-item'>
          <a href='#' class='nav-link'>C</a>
        </div>
      </div>
    </div>

    <div class='col-5 pe-5'>
      <div class='card'>
        <div class='pt-4 pb-3 px-4'>
          <div class='nav flex-column'>
            <div class='nav-item mb-2'>
              <div class='card'>
                <a href='/summary' class='nav-link'>Link</a>
              </div>
            </div>
            <div class='nav-item mb-2'>
              <div class='card'>
                <a
                  href='/skills'
                  class='nav-link active'
                >Home</a>
              </div>
            </div>
            <div class='nav-item mb-2'>
              <div class='card'>
                <a
                  href='#'
                  class='nav-link disabled'
                >Hotel</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='col-7'>
      <div class='row'>
        <div class='col-12 mb-5'>
          <ol class='breadcrumb'>
            <li class='breadcrumb-item'>
              <a href='#'>Hose</a>
            </li>
            <li class='breadcrumb-item'>
              <a href='#'>PC and Laptop</a>
            </li>
            <li class='breadcrumb-item'>
              Mac
            </li>
          </ol>
        </div>

        <div class='col-12'>
          <button
            class='btn btn-primary rounded-pill mx-5 my-3 ms-0'
          >Тицни</button>
          <div class='alert alert-success'>
            <h6 class='m-0'>Hello world hihih
              <span
                class='badge text-bg-dark rounded-pill text-uppercase'
              >Top sesone</span>
            </h6>
          </div>
        </div>
      </div>
    </div>

  </div>
</main>