{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<div class='p-5'>
  <h1>Cписок сторінок</h1>
  <div>😄😄😄😄😄</div>
  <br />
  <div class='col-sm'>
    <a href='http://localhost:3000/skills'><button
        type='button'
        class='btn btn-primary'
      >Skills</button></a>
  </div>
  <br />
  <div class='col-sm'>
    <a href='http://localhost:3000/summary'><button
        type='button'
        class='btn btn-primary'
      >Sammary</button></a>
  </div>
  <br />
  <div class='col-sm'>
    <a href='http://localhost:3000/educ'><button
        type='button'
        class='btn btn-primary'
      >Education</button></a>
  </div>
  <br />
  <div class='col-sm'>
    <a href='http://localhost:3000/work'><button
        type='button'
        class='btn btn-primary'
      >Work History</button></a>
  </div>
  <br />
  <div class='col-sm'>
    <a href='http://localhost:3000/JS'><button
        type='button'
        class='btn btn-primary'
      >JS</button></a>
  </div>
  <br />
  <div class='col-sm'>
    <a href='http://localhost:3000/Car'><button
        type='button'
        class='btn btn-primary'
      >Car</button></a>
  </div>
  <br />
  <div class='col-sm'>
    <a href='http://localhost:3000/mac'><button
        type='button'
        class='btn btn-primary'
      >Mac</button></a>
  </div>
  <br />
  <div class='col-sm'>
    <a href='http://localhost:3000/task21'><button
        type='button'
        class='btn btn-primary'
      >Task21</button></a>
  </div>
  <br />
  <div class='col-sm'>
    <a href='http://localhost:3000/facebook'><button
        type='button'
        class='btn btn-primary'
      >Facebook</button></a>
  </div>
  <br />
  <div class='col-sm'>
    <a href='http://localhost:3000/task22'><button
        type='button'
        class='btn btn-primary'
      >Task22</button></a>
  </div>
  <br />
  <div class='col-sm'>
    <a href='http://localhost:3000/task31'><button
        type='button'
        class='btn btn-primary'
      >Task31</button></a>
  </div>
  <br />
  <div class='col-sm'>
    <a href='http://localhost:3000/shophome'><button
        type='button'
        class='btn btn-primary'
      >Shophome</button></a>
  </div>
  <br />
  <div class='col-sm'>
    <a href='http://localhost:3000/shopproduct'><button
        type='button'
        class='btn btn-primary'
      >Shopproduct</button></a>
  </div>
  <br />
  <div class='col-sm'>
    <a href='http://localhost:3000/shopnews'><button
        type='button'
        class='btn btn-primary'
      >Shopnews</button></a>
  </div>
  <br />
  <div class='col-sm'>
    <a href='http://localhost:3000/shoporder'><button
        type='button'
        class='btn btn-primary'
      >Shoporder</button></a>
  </div>
  <br />
  <div class='col-sm'>
    <a href='http://localhost:3000/shopcart'><button
        type='button'
        class='btn btn-primary'
      >Shopcart</button></a>
  </div>
  <br />
  <div class='col-sm'>
    <a href='http://localhost:3000/shopprofile'><button
        type='button'
        class='btn btn-primary'
      >Shopprofile</button></a>
  </div>
  <br />
  <div class='col-sm'>
    <a href='http://localhost:3000/shopreview'><button
        type='button'
        class='btn btn-primary'
      >Shopreview</button></a>
  </div>
  <br />
  <div class='col-sm'>
    <a href='http://localhost:3000/shopcatalog'><button
        type='button'
        class='btn btn-primary'
      >Shopcatalog</button></a>
  </div>
  <br />
  <div class='col-sm'>
    <a href='http://localhost:3000/bootstrap'><button
        type='button'
        class='btn btn-primary'
      >Bootstrap</button></a>
  </div>
</div>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}