{{!
Це леяут по замовчюванню, котрий вже містить базову структуру HTML документа
І котрий обгортає код container файлів для будь-яких ендпоїнтів
}}

<html>

  <div class='p-5'>
    <head>
      <title>
        {{page.title}}
      </title>
      <meta charset='utf-8' />
      <link href='css/index.css' rel='stylesheet' />
    </head>
  </div>

  <body class='p-5'>
    {{! ↓ ця кострукція показує куди шаблонізатору треба вставляти код з container файлу }}
    {{{body}}}

  </body>

</html>